<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <title>Rising River Bar Experience</title>
</head>
<body style="margin:0px;">
    <% if (page === "home_page") { %>
        <div class="full-screen-container" id="home-page">
            <div class="content-container">
                <img class="rr-logo" src="assets/RR_logo.gif"/>
                <p>Enter the experience to interact with the digital garden.</p>
                <p>Rising River is originally an AI-powered theraputic VR experience. <br>
                    <a target="blank" href="https://risingriverofficial.com">Learn More</a>.</p>
                <div>
                    <button id="enter-button" type="enter">Enter</button>
                    <a id="learn-more-button"  target="blank" href="https://risingriverofficial.com">About Rising River</a>
                </div>
            </div>
        </div>
    <% } else if (page === "name_page") { %>
        <div class="full-screen-container" id="name-page">
            <div class="content-container">
                <h2>Enter Your Name</h2>
                <form id="nameForm">
                    <div class="input-container">
                        <input id="name-input" type="text" placeholder="Name" name="name" required />
                    </div>
                    <button id="submit-button" type="submit">Continue</button>
                </form>
            </div>
        </div>
    <% } else if (page === "top3") { %>
        <div class="full-screen-container" id="top3-page">
            <div class="content-container">
                <h2>How Would You Describe Yourself In 3 Words?</h2>
                <form class="input-grid" id="top3Form">
                    <% for (let characteristic of characteristics) { %>
                        <input class="option-input" type="button" name="top3" value="<%= characteristic %>" />
                    <% } %>
                    <button id="submit-button" type="submit">Continue</button>
                </form>
            </div>
        </div>
    <% } else if (page === "bottom3") { %>
        <div class="full-screen-container" id="bottom3-page">
            <div class="content-container">
                <h2>What 3 words you would never describe yourself?</h2>
                <form class="input-grid" id="bottom3Form">
                    <% for (let characteristic of characteristics) { %>
                        <input class="option-input" type="button" name="bottom3" value="<%= characteristic %>" />
                    <% } %>
                    <button id="submit-button" type="submit">Continue</button>
                </form>
            </div>
        </div>
    <% } else if (page === "please_wait") { %>
        <div class="full-screen-container" id="please-wait">
            <div class="content-container">
                <h1>Please Wait</h1>
                <p>The processing queue is full. You are in the waiting queue.</p>
                <h3>Current Waiting Queue:</h3>
                <ul id="waitingQueue">
                    <% for (let id of waitingQueue) { %>
                        <li><%= id %></li>
                    <% } %>
                </ul>
            </div>
        </div>
    <% } else if (page === "result") { %>
        <div class="full-screen-container flower1" id="result-page">
            <div class="content-container">
                <h1>Result</h1>
                <p><strong>Name:</strong> <%= playerName || "Unknown" %></p>
                <p><strong>Session ID:</strong> <%= sessionId %></p>
                <p><strong>Top 3 Personalities:</strong> <%= top3 || "Not selectved" %></p>
                <p><strong>Bottom 3 Personalities:</strong> <%= bottom3 || "Not selected" %></p>
                <h3><%= question || "Not selected" %></h3>
                <a target="_blank" href="https://risingriverofficial.com">
                    <button id="redirect-to-rr" type="redirect">Learn More About Rising River VR</button>
                </a>
            </div>
        </div>
    <% } else if (page === "wait_result") { %>
        <div class="full-screen-container flower1" id="wait-result-page">
            <div class="content-container">
                <h2>Your flower is growing....</h2>
                <h3>Please wait for a few seconds and you’ll see it on the public screen</h3>
            </div>
        </div>
    <% } %>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/selection.js"></script>
    <script src="/view_style.js"></script>
    <script>
        const socket = io();
        let sessionId = "<%= sessionId %>";

        socket.on("session-assign", (data) => {
            sessionId = data.sessionId;
            console.log(`Assigned session ID: ${sessionId}`);
        });

        <% if (page === "home_page") { %>
            document.getElementById("enter-button").addEventListener("click", (event) => {
                event.preventDefault();
                window.location.href = `\enter`;
            });
        <% } else if (page === "name_page") { %>
            document.getElementById("nameForm").addEventListener("submit", (event) => {
                event.preventDefault();
                const name = document.getElementById("name-input").value;
                socket.emit("submit-name", { sessionId, name });
            });
        <% } else if (page === "top3") { %>
            document.querySelectorAll('input[name="top3"]').forEach(input => {
                input.addEventListener("click", handleTop3Selection);
            });
            document.getElementById("top3Form").addEventListener("submit", (event) => {
                event.preventDefault();
                const selected = Array.from(document.querySelectorAll('input[name="top3"].selected')).map(input => input.value);
                if (selected.length === 3) {
                    socket.emit("submit-top3", { sessionId, top3: selected });
                } else {
                    alert("Please select exactly 3 personalities.");
                }
            });
        <% } else if (page === "bottom3") { %>
            const urlParams = new URLSearchParams(window.location.search);
            const top3String = urlParams.get("top3");
            if (top3String && top3String.indexOf(",") > -1) {
                const top3Array = top3String.split(",");
                top3Array.forEach(topValue => {
                    document.querySelector(`input[name="bottom3"][value="${topValue}"]`).disabled = true;
                    document.querySelector(`input[name="bottom3"][value="${topValue}"]`).classList.add('inactive');
                });
            }
            document.querySelectorAll('input[name="bottom3"]').forEach(input => {
                input.addEventListener("click", handleBottom3Selection);
            });
            document.getElementById("bottom3Form").addEventListener("submit", (event) => {
                event.preventDefault();
                const selected = Array.from(document.querySelectorAll('input[name="bottom3"].selected')).map(input => input.value);
                if (selected.length === 3) {
                    socket.emit("submit-bottom3", { sessionId, bottom3: selected });
                } else {
                    alert("Please select exactly 3 personalities.");
                }
            });
        <% } else if (page === "please_wait") { %>
            socket.on("update-waiting-queue", (data) => {
                const waitingQueue = document.getElementById("waitingQueue");
                waitingQueue.innerHTML = data.waitingQueue.map(id => `<li>${id}</li>`).join("");
            });
        <% } %>

        socket.on("render", (data) => {
            const { page, sessionId, top3 } = data;
            window.location.href = `/render_page?sessionId=${sessionId}&page=${page}&top3=${top3}`;
        });

        socket.on("render_result", (data) => {
            const { page, sessionId,  playerName, top3, bottom3, question } = data;
            window.location.href = `
                /render_result?sessionId=${sessionId}&page=${page}&playerName=${playerName}
                &top3=${top3}&bottom3=${bottom3}&question=${question}
            `;
        });

        socket.on("error", (data) => {
            const { message } = data;
            console.error(`Error detected: ${message}`);
            window.location.href = `/error?message=${encodeURIComponent(message)}`;
        });


        window.addEventListener("beforeunload", (event) => {
            const isReloadOrNavigation = (performance.navigation.type === performance.navigation.TYPE_RELOAD) ||
                (performance.navigation.type === performance.navigation.TYPE_NAVIGATE);
            if (!isReloadOrNavigation) {
                console.log("Tab is being closed, not reloaded.");
                socket.emit("disconnect", { sessionId });
            }
        });
    </script>
</body>
</html>
